[user]
name = Tatsuya Kubo
email = tatsuya.kubo@is.s.u-tokyo.ac.jp

[core]
editor = nvim
sshCommand = ssh -i ~/.ssh/id_rsa2 -F /dev/null

[alias]
st = status
cm = commit
ch = checkout
ps = push
pl = pull
sw = switch

[init]
defaultbranch = main

[diff "gds_diff"]
command = python -m gdsfactory.gdsdiff.gds_diff_git
binary = True
