[user]
    name = Tatsuya Kubo
    email = 6iKezbAD3CZnf@gmail.com

[core]
    editor = nvim

[alias]
    st = status
    cm = commit
    ch = checkout
    ps = push
    pl = pull
    sw = switch

[init]
    defaultBranch = main
