[submodule "zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = zsh/.zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "nerdtree"]
	path = nvim/.vim/pack/general/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "templenty"]
	path = nvim/.vim/pack/general/start/templenty
	url = https://gitlab.com/tatsuya_rf46/templenty.vim.git
[submodule "vim-surround"]
	path = nvim/.vim/pack/general/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nerdcommenter"]
	path = nvim/.vim/pack/general/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "bufexplorer"]
	path = nvim/.vim/pack/general/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim-airline-themes"]
	path = nvim/.vim/pack/layout/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim-toml"]
	path = nvim/.vim/pack/filetype/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim-solidity"]
	path = nvim/.vim/pack/filetype/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "nvim/.vim/pack/general/start/packer.nvim"]
	path = nvim/.vim/pack/general/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
